
html {
  box-sizing: border-box;
}

*,
*::before,
*::after{
	box-sizing: inherit;
}

body {
  font-family: "Georgia";
  font-weight: normal;
  font-size: 19px;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #3104B4;
}

button,
button:active,
button:focus {
outline: none !important;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}