@import "vars";
@import "fonts";
@import "global";



// ------------------- Header ----------------------- //


.header-inner {
  .header-menu {
    display: flex;
    justify-content: flex-start;
    padding-left: 120px;
    &_about {
      width: 140px;
      padding: 18px 0px 18px 20px;
      &::before {
        font-family: 'icomoon';
        content: "\f007";
        padding-right: 10px;
      }
      &:hover {
        background-color: #15a98b;
        color: #fff;
      }
    }
    &_hobby {
      padding: 18px 0px 18px 20px;
      width: 160px;
      &::before {
        font-family: 'icomoon';
        content: "\f004";
        padding-right: 10px;
      }
      &:hover {
        background-color: #15a98b;
        color: #fff;
      }
    }
    &_film {
      padding: 18px 0px 18px 20px;
      width: 235px;
      &::before {
        font-family: 'icomoon';
        content: "\f03d";
        padding-right: 10px;
      }
      &:hover {
        background-color: #15a98b;
        color: #fff;
      }
    }
  }
}
.header-fon {
  background-image: url(../images/header-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  &_box {
    padding-top: 239px;
    margin: 0 0% 45px 45%;
    max-width: 520px;
  }
  &_title {
    font-family: "Georgia-Italic";
    font-size: 28px;
    line-height: 42px;
    color: #fff;
    padding-bottom: 8px;
  }
  &_text {
    color: #fff;
    font-size: 16px;
  }
}

// --------------------  About  ------------------------------ //


.about-inner {
  display: flex;
  margin-bottom: 60px;
  .about-aside {
    min-width: 330px;
    margin-left: 120px;
    margin-right: 60px;
    position: relative;
    padding-top: 215px;
    &_foto {
      position: absolute;
      top: -186px;
      left: 0;
    }
    &_writers {
      margin-bottom: 50px;
      p {
        font-family: "OpenSans-SemiBold";
        font-size: 24px;
        color: #15a98b;
        margin: 12px 0px;
      }
      .list-writers li {
        list-style-type: disc;
        margin-left: 15px;
        line-height: 36px;
      }
    }
    &_films {
      p {
        font-family: "OpenSans-SemiBold";
        font-size: 24px;
        color: #15a98b;
        margin-bottom: 12px;
      }
      .list-films li {
        list-style-type: decimal;
        margin-left: 15px;
        line-height: 36px;
      }
    }
  }
  .about-box {
    margin-right: 120px;
    &_titlename {
      width: 211px;
      font-family: "OpenSans-Bold";
      font-size: 48px;
      margin-top: 50px;
      padding-bottom: 20px;
      border-bottom: 3px solid #15a98b;
    }
    &_textname {
      line-height: 32px;
      padding-top: 50px;
      padding-bottom: 45px;
      padding-right: 52px;
    }
    &_titlehobby {
      font-family: "OpenSans-Regular";
      font-size: 36px;
      line-height: 42px;
      padding-bottom: 20px;
    }
    &_texthobby {
      line-height: 32px;
      padding-bottom: 50px;
    }
    &_writeme {
      color: #15a98b;
      width: 116px;
      border-bottom: 2px solid #15a98b;
    }
  }
}


// ----------------------------------------  films  ---------------------------------  //@extend

.films {
  background-color: #f9f9f9;
}
.films-inner {
  padding-bottom: 60px;
  &_title {
    font-family: "OpenSans-Regular";
    font-size: 36px;
    line-height: 42px;
    padding: 37px 0px;
  }
  &_items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  &_item01 {
    margin-right: 20px;
  }
  &_item02 {
    margin-right: 20px;
  }
  &_item03 {
    margin-right: 20px;
  }
  .item-text {
    font-size: 16px;
    line-height: 28px;
  }
  .item-title {
    font-family: "OpenSans-Bold";
    font-size: 22px;
    line-height: 32px;
    padding: 25px 0px;
  }
  &_btn {
    margin: 0 41%;
    .all-films {
      padding: 15px 30px;
      width: 220px;
      border-radius: 4%/15%;
      border: 1px solid #000;
      text-align: center;
      &:hover {
        background-color: #15a98b;
        color: #fff;
        cursor: pointer;
        border: 1px solid #15a98b;
      }
    }
  }
}


//  -------------------------------------  Forms  ---------------------------------  //@extend


.forms-inner {
  width: 700px;
  margin: 0px auto;
  .inner-box-for-forms {
    padding: 0px 12%;
  }
  &_box {
    display: flex;
    flex-direction: column;
  }
  &_title {
    font-family: "OpenSans-Light";
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    padding: 50px 0px 80px 0px;
  }
  form {
    font-family: "OpenSans-Regular";
    font-size: 20px;
    p {
      display: inline;
      color: red;
    }
    input {
      height: 50px;
      width: 540px;
      margin-bottom: 30px;
    }
    select {
      height: 50px;
      width: 540px;
      font-size: 18px;
      padding-left: 14px;
    }
  }
  .radio {
    display: flex;
    flex-direction: column;
    margin: 50px 0px;
    span {
      margin-bottom: 20px;
    }
    .radio-labels {
      display: flex;
      label {
        padding-right: 35px
      }
      input {
        margin-right: 10px;
      }
    }
    span {
      display: block;
    }
    input {
      height: 13px;
      width: 13px;
      margin-bottom: 0px;
    }
  }
  .forms-textarea {
    &_title {
      p {
      color: red;
      padding-left: 5px;
      }
    }
    textarea {
      height: 150px;
      width: 540px;
    }
    .textarea_btn {
      height: 50px;
      width: 220px;
      text-align: center;
      margin: 50px 0px;
      font-size: 19px;
      padding: 15px 30px;
      width: 220px;
      border-radius: 4%/15%;
      border: 1px solid #000;
      text-align: center;
      &:hover {
        background-color: #15a98b;
        color: #fff;
        cursor: pointer;
        border: 1px solid #15a98b;
      }
    }
  }
}


//  ----------------------------------------  Footer  --------------------------  //



.footer {
  background-color: #f9f9f9;
  &-inner {
    padding: 25px 0;
    text-align: center;
    display: 16px;
  }
}

























@import "media";
